.projects {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.projects .card {
  background: transparent;
  color: white;
  transition: 0.5s;
  text-align: justify;
  border: none;
}

.card-title {
  background: linear-gradient(264deg, #ff0080 -5.09%, #800080 106.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 24px;
}

.projects .card:hover {
  transform: scale(1.05);
  transition: 0.5s;
  /* padding: 5px; */
  border: 1px solid #800080;
}

.projects .card li {
  list-style: none;
}
